# .env.example
# Copy file nay thanh .env và dien thong tin vao

SECRET_KEY=your-secret-key-here # Secret key cua ban dien vao day
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=mssql   # hoac co the chon sqlite3 ban co the lua chon
DB_NAME=QuanLyThuVien
DB_USER=sa
DB_PASSWORD=your_password # mat khau sql server cua ban
DB_HOST=localhost
DB_PORT=1433